{% extends "core/challenges.html" %}

{% block challenge_content %}
<div id="challenges-board" class="justify-content-md-center"></div>
{% endblock %}

{% block entrypoint %}
<div id="csrfNonce" style="visibility: hidden">{{ Session.nonce }}</div>
{% include "enlightenment/scripts.html" %}
{# Need this bad boy for the Bootstrap navbar to work in mobile view #}
<script defer src="{{ url_for('views.themes', path='js/pages/main.js') }}"></script>
{% endblock %}
