{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<h1 class="text-center">403</h1>
			<h2 class="text-center">Authorization Failed.</h2>
			<h2 class="text-center">Access denied.</h2>
			<h2 class="text-center">Wrong password: hunter2</h2>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
