@import "./base.scss";
@import "./fonts.scss";

.main-container {
  width: 60%;
  margin-top: 35px;
  margin-bottom: 25px;
  padding-bottom: 0;
  font-family: Roboto-regular;
}

h3,
h4,
h5 {
  font-family: "Asian Hiro";
}

.modal-body {
  h4 {
    margin-top: 1rem;
  }

  p {
    font-family: "Roboto-regular";
    margin: 0.8rem 0;
  }
}

#contained-modal-title-vcenter {
  font-family: "Asian Hiro";
}

#challenge-modal-tabs-tabpane-solves > div {
  min-height: 10rem;
}

/* Override the bootstrap switch controls */
.custom-control-input:checked ~ .custom-control-label:before {
  background-color: #a81432;
  border-color: #890f23;
}

.custom-control-input:focus ~ .custom-control-label:before {
  box-shadow: 0 0 0 0.2rem #dc3545;
}

/* Override the bootstrap button styles */
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #dc3545;
}

#challenges-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**********
 * Filters
 **********/

.filter-container {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .tag-container {
      display: flex;
      flex-wrap: wrap;
      margin: 0.2rem;
    }

    form {
      display: inline;
      margin: 0.5rem;
    }

    input {
      outline: none;
    }

    input[type="search"] {
      -webkit-appearance: textfield;
      -webkit-box-sizing: content-box;
      font-family: inherit;
      font-size: 100%;
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
      display: none;
    }

    input[type="search"] {
      background: #ededed url(../img/search-icon.png) no-repeat 9px center;
      border: solid 1px #ccc;
      padding: 9px 10px 9px 32px;
      width: 125px;

      -webkit-border-radius: 10em;
      -moz-border-radius: 10em;
      border-radius: 10em;

      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
    }

    input[type="search"]:focus {
      width: 200px;
      background-color: #fff;
      border-color: #a81432;

      -webkit-box-shadow: 0 0 5px rgba(137, 15, 35, 0.5);
      -moz-box-shadow: 0 0 5px rgba(137, 15, 35, 0.5);
      box-shadow: 0 0 5px rgba(137, 15, 35, 0.5);
    }

    input:-moz-placeholder {
      color: #999;
    }
    input::-webkit-input-placeholder {
      color: #999;
    }
  }

  .filter-tag {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.2rem;
    border: 1px solid #c7d7ec;
    border-radius: 0.5em;
    cursor: pointer;
    background: linear-gradient(
      145deg,
      hsla(200, 100%, 90%, 0.1),
      hsla(230deg, 100%, 90%, 0.1)
    );
  }

  .filter-tag:hover {
    background: linear-gradient(
      145deg,
      hsla(200, 100%, 95%, 0.5),
      hsla(230deg, 100%, 95%, 0.5)
    );
  }

  .filter-include {
    background: linear-gradient(
      145deg,
      hsl(110deg, 100%, 90%),
      hsl(130deg, 100%, 90%)
    );
  }

  .filter-include:hover {
    background: linear-gradient(
      145deg,
      hsl(110deg, 100%, 95%),
      hsl(130deg, 100%, 95%)
    );
  }

  .filter-exclude {
    background: linear-gradient(
      145deg,
      hsl(20deg, 80%, 90%),
      hsl(50deg, 80%, 90%)
    );
  }

  .filter-exclude:hover {
    background: linear-gradient(
      145deg,
      hsl(20deg, 80%, 95%),
      hsl(50deg, 80%, 95%)
    );
  }

  .filter-controls {
    width: auto;
    padding-left: 0.5rem;
    white-space: nowrap;

    div {
      margin: 0.5rem;
    }
  }
}

/*************
 * Challenges
 *************/

.challenge-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .single-challenge {
    background: #fc4a1a; /* fallback for old browsers */
    background: linear-gradient(145deg, #890f23 45%, #a81432);
    color: white;
    min-height: 8rem;
    position: relative;
    width: 350px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    cursor: pointer;

    h2 {
      font-family: "Asian Hiro";
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
    }

    p {
      font-family: "Asian Hiro";
      font-size: 1.2rem;
      margin: 0.2rem;
    }

    .challenge-tags-container {
      position: absolute;
      bottom: 0;
      margin: 0.6rem 0;
    }

    i {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0.8rem;
    }
  }

  .single-challenge:hover {
    background-color: #890f23;
    background: linear-gradient(145deg, #a0122a 45%, #db1b42);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .hidden-challenge {
    background: linear-gradient(145deg, #3c3c3c 45%, #595959);
  }

  .hidden-challenge:hover {
    background: linear-gradient(145deg, #464646 45%, #636363);
  }

  .solved-challenge {
    color: white;
    background-color: #890f23;
    opacity: 0.2;
  }
}

.challenge-tags-container {
  .badge {
    margin: 2px;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

.handout {
  display: block;
  margin: 0.6rem;

  i {
    margin-right: 0.3rem;
  }
}

.solves {
  margin: 0.6rem;

  .solve-link {
    display: block;
    margin: 0.4rem;
  }
}

.details-footer {
  .flag-submission-form {
    form {
      display: flex;
      align-items: center;
    }

    input[type="text"] {
      width: 70%;
      padding: 0.4rem;
      margin: 4px;
      box-sizing: border-box;
    }

    button {
      padding: 0.5rem;
    }
  }

  .solved-banner {
    font-family: Shojumaru;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b6eea6;
    color: #426e36;
    border: 1px solid #426e36;
    padding: 0.5rem;

    i {
      margin: 0.5rem;
    }
  }
}

#challenge-modal-tabs-tabpane-details a {
  color: #a81432;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 320px) {
  .main-container {
    width: 100%;
  }

  .footer {
    visibility: hidden;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .main-container {
    width: 100%;
  }

  .footer {
    visibility: visible;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1150px) {
  .main-container {
    width: 80%;
  }

  .filter-container {
    flex-direction: row;
  }

  body {
    overflow-x: hidden;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1250px) {
  .main-container {
    width: 70%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1367px) {
  .main-container {
    width: 60%;
  }
}

@media (min-width: 992px) {
}
