@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Raleway:400,400i,700,700i&subset=latin-ext");

/* Handle offline font loading */
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;
$fa-font-display: auto !default;
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~typeface-lato/index.css";
@import "~typeface-raleway/index.css";


@font-face {
  font-family: 'Asian Hiro';
  src: url("fonts/a-asian-hiro-font/AAsianHiro.ttf") format('truetype');
}

@font-face {
  font-family: 'Shojumaru';
  src: url("fonts/shojumaru-font/Shojumaru.ttf") format('truetype');
}

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto-100';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/roboto-font/roboto-v20-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/roboto-font/roboto-v20-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-font/roboto-v20-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-font/roboto-v20-latin-100.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-font/roboto-v20-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-font/roboto-v20-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto-regular';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/roboto-font/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('fonts/roboto-font/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/roboto-font/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/roboto-font/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/roboto-font/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/roboto-font/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
