<!DOCTYPE html>
<html>
<head>
    <title>{{ Configs.ctf_name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ Configs.ctf_small_icon }}" type="image/x-icon">
    <link rel='stylesheet' href="{{ url_for('views.themes', path='css/fonts.css') }}" type='text/css'>
    <link rel='stylesheet' href="{{ url_for('views.themes', path='css/main.css') }}" type='text/css'>
    <link rel='stylesheet' href="{{ url_for('views.themes', path='css/core.css') }}" type='text/css'>
    <link rel="stylesheet" href="{{ url_for('views.themes', path='css/base.css') }}" type='text/css'>
    {% block stylesheets %}
    {% endblock %}

    {{ Plugins.styles }}
    <script type="text/javascript">
        var init = {
            'urlRoot': "{{ request.script_root }}",
            'csrfNonce': "{{ Session.nonce }}",
            'userMode': "{{ Configs.user_mode }}",
            'userId': {{ Session.id }},
            'start': {{ Configs.start | tojson }},
            'end': {{ Configs.end | tojson }},
            'theme_settings': {{ Configs.theme_settings | tojson }}
        }
    </script>
    <script type="text/javascript">
        // Initial rotation and offset
        var rotationValue = 0;
        var pageOffset = window.pageYOffset / 20;
        var rotationString = ((rotationValue + pageOffset) % 360).toString() + 'deg';

        // Set timer + scroll listener to updateRotation
        var rotationTimer = setInterval(updateRotation, 100);
        window.addEventListener('scroll', () => {
            updateRotation();
        }, false);

        // Updates the rotation based on a timer + window page offset
        function updateRotation(){
            rotationValue += 0.05;
            pageOffset = window.pageYOffset / 20;
            rotationString = ((rotationValue + pageOffset) % 360).toString() + 'deg';
            document.body.style.setProperty(
                '--conic-rotation',
                rotationString);
            if (rotationValue >= 360){ // Roll over rotation
                rotationValue = 0;
            }
        }
        // Disable rotation on triple clicks
        window.addEventListener('click', (e)=>{
            if (e.detail >= 3) {
                clearInterval(rotationTimer);
            }
        });
    </script>
    {{ Configs.theme_header }}
</head>

<body>
    {% include "components/navbar.html" %}
    <main role="main">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div>
        <div class="sponsor base-footer-block text-left">
            <div>Sponsored by</div>
            <a href="https://www.asd.gov.au/" target="_blank" rel="noreferrer noopener">
                <img class="sponsor-img" src="{{ url_for('views.themes', path='img/asd-logo.png') }}">
            </a>
        </div>
        <div class="artist base-footer-block text-right">
            <div>Artwork by</div>
            <a href="https://halftoneproductions.com.au/" target="_blank" rel="noreferrer noopener">
                <img class="artist-img" src="{{ url_for('views.themes', path='img/halftone-logo.png') }}">
            </a>
        </div>
        <div class="cybear-footer text-center">
            <div>Brought to you by Cybears</div>
            <a href="https://twitter.com/cybearsCTF" target="_blank" rel="noreferrer noopener">
                <img class="cybear-footer-img">
            </a>
        </div>
        <div class="ctfd container text-center">
            <a href="https://ctfd.io" class="text-secondary">
                <small>Powered by CTFd</small>
            </a>
        </div>
    </footer>

    <script defer src="{{ url_for('views.themes', path='js/vendor.bundle.js') }}"></script>
    <script defer src="{{ url_for('views.themes', path='js/core.js') }}"></script>
    <script defer src="{{ url_for('views.themes', path='js/helpers.js') }}"></script>

    {% block entrypoint %}
    <script defer src="{{ url_for('views.themes', path='js/pages/main.js') }}"></script>
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    {{ Plugins.scripts }}

    {{ Configs.theme_footer }}
</body>
<footer class="base-footer">

    <script type="text/javascript">
        // Note: avatar options and bot options should be the same length
        // and same order as we want the jumbotron to match the selected
        // cybear bot at the bottom
        var avatarOptions = [
            "{{ url_for('views.themes', path='img/cybears_blk.png') }}",
            "{{ url_for('views.themes', path='img/pigbot_blk.png') }}",
            "{{ url_for('views.themes', path='img/sanditron_blk.png') }}",
            "{{ url_for('views.themes', path='img/trypitakon_blk.png') }}",
            "{{ url_for('views.themes', path='img/wukongprime_blk.png') }}",
            // Flagging this image as an isssshue for the cybears designers!
            // "{{ url_for('views.themes', path='img/ssssh_qr_code.png') }}",
        ];
        var botOptions = [
            "{{ url_for('views.themes', path='img/cybear_bot.png') }}",
            "{{ url_for('views.themes', path='img/pig_bot.png') }}",
            "{{ url_for('views.themes', path='img/sanditron_bot.png') }}",
            "{{ url_for('views.themes', path='img/trypitakon_bot.png') }}",
            "{{ url_for('views.themes', path='img/wukongprime_bot.png') }}",
        ]
        var imgIndex = Math.floor((Math.random() * avatarOptions.length));

        function jumbotronAvatar(avatars, imgIndex) {
            var jumbotrons = document.getElementsByClassName("jumbotron");
            if (jumbotrons.length > 0) {

                var jumbotron = jumbotrons[0];
                var scale = 1.1;
                var avatarDiv = document.createElement("DIV");
                var avatarImg = document.createElement("IMG");

                avatarDiv.className = 'img-avatar';
                avatarDiv.height = jumbotron.clientHeight * scale;
                avatarDiv.width = jumbotron.clientHeight * scale;
                avatarDiv.style.position = 'absolute';
                avatarImg.height = jumbotron.clientHeight * scale;
                avatarImg.width = jumbotron.clientHeight * scale;
                avatarImg.src = avatars[imgIndex];
                avatarImg.style.opacity = "0.8";

                // Set the top and right of the image
                avatarDiv.style.top = (
                    (jumbotron.clientHeight / 2) -
                    (avatarDiv.height / 2)).toString() + 'px';
                avatarDiv.style.right = (-1 * (avatarImg.width / 2)) + 'px';
                avatarDiv.appendChild(avatarImg);
                jumbotron.appendChild(avatarDiv);
                avatarDiv.style.overflow = 'hidden';
            }
        }

        function footerBot(bots, imgIndex){
            var cybear_footers = document.getElementsByClassName("cybear-footer-img");
            if (cybear_footers.length > 0) {
                cybear_footer = cybear_footers[0];

                // Randomly choose bot
                cybear_footer.style.height = "100px";
                cybear_footer.src = bots[imgIndex];
            }
        }

        jumbotronAvatar(avatarOptions, imgIndex);
        footerBot(botOptions, imgIndex);
    </script>
</footer>
</html>
