<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="csrfNonce" style="visibility: hidden">
    83a33e809c20ce2e87c487f6e0e8dab5bbadc2351d8e5943f3e89d44108a7e6a
  </div>
  <div id="challenges-board"></div>
  <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
</body>
